/* /////////////////////////////////////////////////////////////// */

@font-face {
  font-family: 'custom';
  src: url('/assets/fonts/fira/FiraSansOT.eot?#iefix') format('embedded-opentype'),  
		url('/assets/fonts/fira/FiraSansOT.otf')  format('opentype'),
		url('/assets/fonts/fira/FiraSansOT.woff') format('woff'), 
		url('/assets/fonts/fira/FiraSansOT.ttf')  format('truetype'), 
		url('/assets/fonts/fira/FiraSansOT.svg#FiraSansOT') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'hdr';
	src: url('/assets/fonts/basenineb/BaseNineB.eot?#iefix') format('embedded-opentype'),  
	url('/assets/fonts/basenineb/BaseNineB.woff') format('woff'), 
	url('/assets/fonts/basenineb/BaseNineB.ttf')  format('truetype'), 
	url('/assets/fonts/basenineb/BaseNineB.svg#BaseNineB') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body{
	padding:0px; margin:0px;
	font-family: "custom","Trebuchet MS", Helvetica, sans-serif;
	background:#000;
	overflow:hidden;
}
html {min-height:100%;}

h1,h2,h3,h4,h5,h6{
	margin: 0px; margin-bottom:2px;
	font-weight: normal;
	color:rgba(185,254,111,1);
	font-size:23px;
}
p{
	margin:0;
	font-weight: normal;
}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

strong{
	color: #388349;
	color: #ffffff;
}

a{
	text-decoration:underline;
	font-style: italic;
}
a:link {
	color: rgb(185,254,111);
}
a:visited {
	color: rgb(185,254,111);
}
a:hover {
	color: rgb(185,254,111);
}
a:active {
	color: rgb(185,254,111);
}			
.hdrfont{
	font-family: 'hdr', sans-serif;
}


.shade1{
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
}
.hwa {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.mwrap{
	position:absolute; height:100%; width:100%; top:0px; left:0px;
}
.contain{
	display:table; width:100%; max-width:1600px; height:100%; margin-left:auto; margin-right:auto;
}
.holder{
	display:table-cell; width:100%; height:100%; /*padding:10px;*/
	vertical-align:middle;
}
.sheet{
	display:table; margin-left:auto; margin-right:auto; width:100%;
	text-align:center; position:relative;
}
.gpos{
	position:absolute; top:0; left:0; bottom:0; right:0;
}
.centerpos{
	position:absolute; top:50%; left:50%;
	-webkit-transform: translate(-50%,-50%); 
	-ms-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
}	

.centerVerti{
	position:absolute; top:50%; left:0px;
	-webkit-transform: translate(0,-50%); 
	-ms-transform: translate(0,-50%); 
	transform: translate(0,-50%); 
}	

.controlArrow{
	 color:rgba(185,254,111,1); font-size:80px; 
	 /*opacity:0.8;*/
}
.clickFull{
	display:block;
}
#controlBtnMoveLeft, #controlBtnMoveRight{
	position:absolute; top:50%;
	width:4.3%; height:25%;
	-ms-transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	display:none;
}
#controlBtnMoveRight{
	right:0px;
}
#controlBtnMoveUp, #controlBtnMoveDown{
	position:absolute; top:0px;  left:50%;
	height:7%; width:25%;
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
#controlBtnMoveDown{
	bottom:0px; top:auto;
	height:8%;
}

.toolBtn{
	display:inline-block; padding:0px 5px; margin-top:7px; margin-left:7px; border:1px solid rgba(255,255,255,0.4); background:rgba(255,255,255,0.2); color:#fff;
	cursor:pointer; font-size:13px; text-align:center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;				
}
.slideContentWrap{
	font-size:15px; color:#fff;
}
.sexion{
	/*background:rgba(255,255,255,0.3);*/
	display:none;
}
.bgimg{ 
	background: no-repeat center center; 
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	-webkit-transform: translate3d(0,0,0); /* performance improver */ /* background-size cover can use some help it seems*/
}

.iconimg{ 
	position:absolute; top:-25%; left:-25%; width:150%; height:150%;
	background: no-repeat center center; 
	background-color:transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transform: translate3d(0,0,0); /* performance improver */
}	
.icontext, .themeIconText{
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	color:#fff; font-size:25px; margin-top:7%;
	text-align: center;
}
.themeIconText{
	margin-top:0;
	font-size:18px;
}

.block100 {
	display: block;
	width: 100%;
	height: 100%;
}
.diamond{
	border: 3px solid #fff;
	/*border-left: 4px solid #fff;
	border-right: 4px solid #fff;*/
	width:193px; height:193px;
	position:relative; overflow:hidden;
}

.blur{
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px); 
	-o-filter: blur(10px); 
	-ms-filter: blur(10px); 
}

#loadicon{
	display:none;
	pointer-events:none;
}
.loader{
	-webkit-animation: loader 0.8s infinite ease;
	animation: loader 0.8s infinite ease;
}		

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
	}
	25% {
		-webkit-transform: rotate(90deg);
	}
	50% {
		-webkit-transform: rotate(90deg);
	}
	75% {
		-webkit-transform: rotate(90deg);
	}
	100% {
		-webkit-transform: rotate(90deg);
	}
}
@-moz-keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(90deg);
	}
	75% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(90deg);
	}
}
@-o-keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(90deg);
	}
	75% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(90deg);
	}
}
@-ms-keyframes loader {
	0% {
		-ms-transform: rotate(0deg);
	}
	25% {
		-ms-transform: rotate(90deg);
	}
	50% {
		-ms-transform: rotate(90deg);
	}
	75% {
		-ms-transform: rotate(90deg);
	}
	100% {
		-ms-transform: rotate(90deg);
	}
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(90deg);
	}
	75% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(90deg);
	}
}

.cuecatch{
	position:absolute; bottom:11%; width:100%; 
	font-size:30px; color:#fff; text-align:center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.cuecatch b{
	 color:rgba(185,254,111,1);
	 font-weight:normal;
}

#container{
	overflow:hidden;
}

.uiTextHome{
	position:absolute; top:18%; width:100%; text-align:center; color:#fff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	font-size: 23px;
	text-align: center;
}
.uiTextBtns{
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	color:#fff;
	font-size: 21px;
	text-align: center;
}
#uiTextLeft{
	position:absolute; left: 80%; top: 45%; width: 200%;
}
#uiTextLeft.bigFont{
	font-size: 25px;
	left: 45%;
	top: 44%;
	width: 300%;
}
#uiTextRight{
	position: absolute; left: -205%; top: 45%;
}
#uiTextRight.bigFont{
	font-size: 25px;
	width: 400%;
	left: -320%;
	top: 44%;
}
#uiTextUp{
	position:absolute; top:94%; width:100%;
}
#uiTextUp.bigFont{
	font-size: 25px;
}
#uiTextDown{
	position:absolute; top:-19%; width:100%;
}
#uiTextDown.bigFont{
	font-size: 25px;
	top:-25%;
}

.themeItemsDiv{
	width:60%; height:100%; float:left; position:relative; top: -6px;
}
.themeTextDiv{
	width:40%; height:100%; float:left; border-right:1px dotted rgba(0,0,0,0.025);
}
.themeTextWrap{
	height:100%; padding-left:11%; text-align:left; display:table;
}
.themeTextWrapBigFont{
	padding-left:10%; padding-right:1%;
}
.themeTextPlace{
	display:table-cell; vertical-align:middle;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	color:#fff; font-size:23px;
}
.themeTextPlace h1{
	color:#fff;
	font-family: 'hdr', sans-serif;
	font-size:30px;
}
.themeTextPlace b{
	color:rgb(185,254,111); font-weight:normal;
}
.themeTextPlace.bigFont{
	font-size:30px;
}
.themeTextPlace.bigFont h1{
	font-size:40px;
}

.colofonTextPlace{
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	color:#fff; font-size:22px;
}
.colofonTextPlace h1{
	font-family: 'hdr', sans-serif;
	font-size:37px;
}
.colofonTextPlace b{
	color:rgb(185,254,111); font-weight:normal;
}
#colofonHold{
	position: absolute; width:100%; height:100%; padding:15px; padding-left:20px; text-align:left; 
	background:rgba(0,0,0,0.7); border:1px solid rgba(255,255,255,1);
}
#colofonText.bigFont{
	font-size:25px;
}
#colofonText.bigFont h1{
	font-size:40px;
}

.themeNavHold{
	position:absolute; left:0px; top:0px; width:40%; height:100%;
}
.themeNavWrap{
	position:relative; width:100%; height:100%;
}
.themeNavComp{
	float:left; width:50px; height:100%; position:relative;
}
.themeNavCompText{
	width:300px; color:#fff; font-size: 20px; margin-top:-2px;
}
.themeNavCompText.bigFont{
	font-size: 23px;
}

.themeNavHitLeft{
	position:absolute; top:0px; left:0px; width:200px; height:100%;
}
.themeNavHitRight{
	position:absolute; top:0px; right:0px; width:200px; height:100%;
}
themeNavClick{
	position:absolute; top:5.4%; right:30px; 
	text-align:right; color:#fff; text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); font-size:21px;
	padding:0px 30px 0px 0px;
}

.amenuWrap{
	position:absolute; top:5.7%; right:30px; 
	text-align:right; color:#fff; text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); font-size:21px;
	padding:0px 30px 0px 0px;
}
.fontSizeBtnWrap{
	display:inline-block; padding-right:12px; position:relative; font-size:21px;
}

.bottomPanelContent{
	position:absolute; top:1px; width:80%; height:100%; left:10%; background:rgba(0,0,0,0.6); border-left:1px solid rgba(255,255,255,0.8); border-right:1px solid rgba(255,255,255,0.8); text-align:left;
}
.bottomPanelImg{
	float:left; width: 25%; height:100%; background:#000;
}
.infotext{
	float:left; width:75%; height:100%; 
	padding:24px; padding-top:20px; 
	color:#fff; font-size: 23px;
	overflow:hidden;
}
.infotext h2{
	font-size: 24px;
}
.infotext.bigFont{
	font-size:29px;
}
.infotext.bigFont h2{
	font-size:29px;
}

#shareIconsWrap{
	position:absolute; bottom:0px; right:0px; width:130px; height:63px; 
	text-align:right;
	background:rgba(255,255,255,0.4); border:1px solid rgba(255,255,255,0.7); border-right:none; border-bottom:none;
	display:none;
}
#shareIconsHold{
	display:inline-block; height:100%; width:67px; position:relative; text-align:center; font-size:22px; color:rgb(185,254,111);
}

#shareBtnWrap{
	position:absolute; bottom:0px; right:0px; padding-right:15px; padding-bottom:15px;
}

#shareTextWrap{
	text-align:center; color:#fff; font-size: 20px;
}
#shareTitle{
	margin-bottom:30px; font-size:30px;
}
#shareItemimg{
	display: inline-block;
    vertical-align: top;
}
#shareSpacer {
	display:block;
	height:5px;
}
#shareItemTitle{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 10px;	
	font-size: 30px;
}
.shareSetWrap{
	display: inline-block;
	padding: 15px;
	padding-bottom: 0;
	width: 205px;
	text-align: left;
	position: relative;
	font-size: 30px;
}
#shareImg{
	height: 200px;
	width: auto;
}
#sharingHold{
	position: absolute; width:100%; height:100%; padding:15px; padding-left:20px; text-align:left; 
	background:rgba(0,0,0,0.7); border:1px solid rgba(255,255,255,1);
}

/* /////////////////////////////////////////////////////////////// */
