$green: #b9fe6f;
$grey: #212121;
$dark-grey: #131313;

@font-face {
    font-family: 'BaseNineB';
    src: url('../fonts/BaseNineB.eot');
    src: url('../fonts/BaseNineB.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BaseNineB.woff') format('woff'),
         url('../fonts/BaseNineB.ttf') format('truetype'),
         url('../fonts/BaseNineB.svg#TradeGothicLTComLight') format('svg');
    font-weight: normal;
    font-style: normal;
}


